<mat-card class="mat-card-dark"> 
    <mat-card-header style="display: flex; justify-content: space-between;">
      <mat-card-title class="accent">
        <span *ngIf="gameForm.value.id !== null; else elseBlock">
          Editing Game
        </span>
        <ng-template #elseBlock>
          Create Game
        </ng-template>
      </mat-card-title>
    </mat-card-header>
  <form [formGroup]="gameForm" (ngSubmit)="saved.emit()">
    <mat-card-content >

      <mat-form-field class="full-width" >
        <mat-label *ngIf="gameForm.invalid && gameForm.touched">
          Name must contain at least 2 characters.
        </mat-label>
        <input  matInput required placeholder="Name" type="string"
        formControlName="name">
      </mat-form-field>
      <br>

      <mat-form-field appearance="fill">
        <mat-label>Select Rating</mat-label>
        <mat-select matInput id="rating" formControlName="rating">
          <mat-option value="M">Mature</mat-option>
          <mat-option value="E">Everyone</mat-option>
          <mat-option value="T">Teen</mat-option>
          <mat-option value="PG">Parental Guidance</mat-option>
        </mat-select>
      </mat-form-field>
      <br>

        

      <mat-form-field class="full-width">
        <mat-label *ngIf="gameForm.invalid && gameForm.touched">
          Description must contain 10 characters.
        </mat-label>

        <textarea  matInput required placeholder="Description" type="text"
        formControlName="description">
        </textarea>
      </mat-form-field>
      <br>

      <mat-form-field class="full-width">
        <mat-label>
          {{gameForm.value.price | currency}}
        </mat-label>
          <input  matInput required placeholder="Price" type="number"
          formControlName="price">
      </mat-form-field>  

    </mat-card-content>
    <mat-card-actions style="display: flex; justify-content: space-between;">
      <button [disabled]="gameForm.invalid" type="submit" mat-button color="primary">Save</button>
      <button type="button" mat-button (click)="cancelled.emit();gameForm.reset();">
        Cancel
      </button>
    </mat-card-actions>
  </form>
  {{gameForm.value | json}}
</mat-card>