html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

thirty-root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.toolbar {
  display: flex; 
  justify-content: space-between;
}

mat-sidenav {
  width: auto;
  background-color: #007C00 !important;
  border-radius: 5px;
  text-align: center;
}

.accent {
  color: #007C00 ;
}

.mat-sidenav-container {
  flex: 1;
  border-radius: 0px 0px 20px 0px;
}

.game-containers {
  display: flex;
  padding: 8px;
  justify-content: space-around;
  border-radius: 8px;

  .game-list {
    width: 49%;
  }

  .game-info {
    width: 49%;
  }

  .mat-gamed-dark {
    background-color: grey;
  }
}
